/**
 * Syntax highlighting styles
 */
.highlight {
    @extend %vertical-rhythm;

    background-color: #f8f5ec;
    color: #637c84;

    .c {
      color: #93a1a1;
    }


    .g {
      color: #637c84;
    }

    /* Generic */

    .k {
      color: #859900;
    }

    /* Keyword */

    .l {
      color: #637c84;
    }

    /* Literal */

    .n {
      color: #637c84;
    }

    /* Name */

    .o {
      // color: #859900; disabling to keep it consistent with err due to lack of JSX support
    }

    /* Operator */

    .x {
      color: #cc7a6f;
    }

    /* Other */

    .p {
      color: #637c84;
    }

    /* Punctuation */

    .cm {
      color: #93a1a1;
    }

    /* Comment.Multiline */

    .cp {
      color: #859900;
    }

    /* Comment.Preproc */

    .c1 {
      color: #93a1a1;
    }

    /* Comment.Single */

    .cs {
      color: #859900;
    }

    /* Comment.Special */

    .gd {
      color: #36958e;
    }

    /* Generic.Deleted */

    .ge {
      font-style: italic;
      color: #637c84;
    }

    /* Generic.Emph */

    .gr {
      color: #dc322f;
    }

    /* Generic.Error */

    .gh {
      color: #cc7a6f;
    }

    /* Generic.Heading */

    .gi {
      color: #859900;
    }

    /* Generic.Inserted */

    .go {
      color: #637c84;
    }

    /* Generic.Output */

    .gp {
      color: #637c84;
    }

    /* Generic.Prompt */

    .gs {
      font-weight: bold;
      color: #637c84;
    }

    /* Generic.Strong */

    .gu {
      color: #cc7a6f;
    }

    /* Generic.Subheading */

    .gt {
      color: #637c84;
    }

    /* Generic.Traceback */

    .kc {
      color: #cc7a6f;
    }

    /* Keyword.Constant */

    .kd {
      color: #268bd2;
    }

    /* Keyword.Declaration */

    .kn {
      color: #859900;
    }

    /* Keyword.Namespace */

    .kp {
      color: #859900;
    }

    /* Keyword.Pseudo */

    .kr {
      color: #268bd2;
    }

    /* Keyword.Reserved */

    .kt {
      color: #dc322f;
    }

    /* Keyword.Type */

    .ld {
      color: #637c84;
    }

    /* Literal.Date */

    .m {
      color: #36958e;
    }

    /* Literal.Number */

    .s {
      color: #36958e;
    }

    /* Literal.String */

    .na {
      color: #637c84;
    }

    /* Name.Attribute */

    .nb {
      color: #b58900;
    }

    /* Name.Builtin */

    .nc {
      color: #268bd2;
    }

    /* Name.Class */

    .no {
      color: #cc7a6f;
    }

    /* Name.Constant */

    .nd {
      color: #268bd2;
    }

    /* Name.Decorator */

    .ni {
      color: #cc7a6f;
    }

    /* Name.Entity */

    .ne {
      color: #cc7a6f;
    }

    /* Name.Exception */

    .nf {
      color: #268bd2;
    }

    /* Name.Function */

    .nl {
      color: #637c84;
    }

    /* Name.Label */

    .nn {
      color: #637c84;
    }

    /* Name.Namespace */

    .nx {
      color: #637c84;
    }

    /* Name.Other */

    .py {
      color: #637c84;
    }

    /* Name.Property */

    .nt {
      color: #268bd2;
    }

    /* Name.Tag */

    .nv {
      color: #268bd2;
    }

    /* Name.Variable */

    .ow {
      color: #859900;
    }

    /* Operator.Word */

    .w {
      color: #637c84;
    }

    /* Text.Whitespace */

    .mf {
      color: #36958e;
    }

    /* Literal.Number.Float */

    .mh {
      color: #36958e;
    }

    /* Literal.Number.Hex */

    .mi {
      color: #36958e;
    }

    /* Literal.Number.Integer */

    .mo {
      color: #36958e;
    }

    /* Literal.Number.Oct */

    .sb {
      color: #93a1a1;
    }

    /* Literal.String.Backtick */

    .sc {
      color: #36958e;
    }

    /* Literal.String.Char */

    .sd {
      color: #637c84;
    }

    /* Literal.String.Doc */

    .s2 {
      color: #36958e;
    }

    /* Literal.String.Double */

    .se {
      color: #cc7a6f;
    }

    /* Literal.String.Escape */

    .sh {
      color: #637c84;
    }

    /* Literal.String.Heredoc */

    .si {
      color: #36958e;
    }

    /* Literal.String.Interpol */

    .sx {
      color: #36958e;
    }

    /* Literal.String.Other */

    .sr {
      // color: #dc322f; disabling to keep it consistent with err due to lack of JSX support
    }

    /* Literal.String.Regex */

    .s1 {
      color: #36958e;
    }

    /* Literal.String.Single */

    .ss {
      color: #36958e;
    }

    /* Literal.String.Symbol */

    .bp {
      color: #268bd2;
    }

    /* Name.Builtin.Pseudo */

    .vc {
      color: #268bd2;
    }

    /* Name.Variable.Class */

    .vg {
      color: #268bd2;
    }

    /* Name.Variable.Global */

    .vi {
      color: #268bd2;
    }

    /* Name.Variable.Instance */

    .il {
      color: #36958e;
    }

}


.tab-panel-group {
  .panel {
    display: none;

    &.on {
      display: block;
    }

    .demo {
      width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: white;
      border: none;

      input, button, label {
        display: block;
      }

      form {
        width: 50%;
        margin: 0 auto;
        border: 1px solid #e8e8e8;
        padding: 10px;

        button {
          margin-top: 10px;
        }
      }
    }
  }

  .tab {
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    width: 50%;
    text-align: center;
    color: #c2c0bc;
    font-size: $small-font-size;
    background-color: #f8f5ec;

    &.on {
      color: #222;
    }
  }
}